<div class="post">
  <img src="<%= @post.picture.url %>">

  <p><%= @post.caption %></p>
</div>

<div class="comments">
  <h3>Comments</h3>
  <ul>
  <% @post.comments.each do |comment| %>
    <li>
      <p class='comment_body'><%= comment.body %></p>
      <p class='commenter'><%= "Comment by #{comment.user.name}" %></p>
    </li>
  <% end %>
  </ul>
</div>

<% if current_user %>
  <%= form_for([@post, @post.comments.build]) do |form| %>
    <%= form.label :body, "Add a comment" %>
    <%= form.text_area :body %>

    <%= form.submit 'Submit' %>
  <% end %>
<% else %>
  <%= link_to 'Sign up', new_user_path %>
  or
  <%= link_to 'log in', login_path %>
  to add a comment
<% end %>
