<div class="post">
  <img src="<%= @post.picture.url %>">

  <p>
    <%= simple_format(@post.caption) %>
  </p>
</div>

Comments
<div class="comments">
  <ul>
  <% @post.comments.each do |comment| %>
    <li><%= simple_format(comment.body) %></li>
  <% end %>
  </ul>
</div>

<% if current_user %>
  <%= form_for([@post, @post.comments.build]) do |form| %>
    <%= form.label :body, "Add a comment" %>
    <%= form.text_area :body %>

    <%= form.submit 'Submit' %>
  <% end %>
<% else %>
  <%= link_to 'Sign up', new_user_path %>
  or
  <%= link_to 'log in', login_path %>
  to add a comment
<% end %>
